# Environment files
.env
.environ/


# Python cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
ENV/
env/

# Local database and application data
Backend/chroma_db/
Backend/chunks/
Backend/transcripts/

# SQLite databases
*.db
*.sqlite3

# IDE settings
.vscode/
.idea/


.zencoder/
.zenflow/
